@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --clr-prim: #121212;
  --clr-font: #fff;
  --clr-sec: #272727;
  --clr-navCustom: #756464;
  --box-shadow: 4px 0 10px -3px hsl(0deg, 0%, 0%);
  --purple: #892cdc;
  --tog-clr: #fff;
}

[data-theme='light'] {
  --clr-prim: #f0f0f0;
  --clr-font: #282c35;
  --clr-sec: #fff;
  --clr-navCustom: #fff;
  --box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  --purple: #892cdc;
  --tog-clr: #3d3a3a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  background-color: #892cdc;
}

body {
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--clr-prim);
  transition: all 0.2s ease-in;
}

/* UTILITIES */

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--clr-font);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
}

.btn {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  padding: 0.3rem 1.3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  height: 100%;
  gap: 1.8rem;
  place-items: center;
}

.theme-toggle {
  color: var(--clr-font);
  cursor: pointer;
}

.text-center {
  text-align: center;
}

img {
  width: 100%;
}

/* HERO SECTION */

.hero-section {
  height: 100vh;
}

.hero {
  height: 100vh;
}

.hero img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--clr-sec);
  box-shadow: var(--box-shadow);
  font-family: 'Poppins';
  position: fixed;
  width: 100%;
  z-index: 2;
}

.logs {
  position: relative;
  top: 8px;
}

.nav-items {
  display: flex;
}

.nav-items li {
  padding: 0rem 2.5rem;
}

.switch-btn {
  position: absolute;
  top: 1.3rem;
  right: 11.5rem;
  padding: 0.65rem;
  width: 3rem;
  color: cornflowerblue;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  border: none;
  height: 1.45rem;
  transition: all 0.3s linear;
  background: #892cdc;
}

.switch {
  position: absolute;
  width: 40%;
  height: 1.23rem;
  top: 0.1rem;
  right: 0.2rem;
  background: var(--tog-clr);
  border-radius: 20px;
  margin: 0;
  display: block;
  transition: all 0.3s linear;
}

.slide .switch {
  right: 54%;
}

.hero-contents {
  color: var(--clr-font);
  justify-self: flex-start;
}

.hero-contents h2 {
  font-weight: normal;
  margin: 0.5rem 0;
}

.hero-contents .btn {
  margin: 1rem 0;
  font-size: 1.2rem;
  background-color: #892cdc;
  z-index: 1;
  position: relative;
}

/* ABOUT ME SECTION */

.about-me {
  margin: 2rem 0;
}

.about-me h1 {
  font-weight: normal;
  font-size: 2.5rem;
  /* background-color: var(--purple); */
  color: var(--clr-font);
}

.about-me p {
  line-height: 1.7;
  background-color: var(--clr-sec);
  padding: 1rem;
  color: var(--clr-font);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
}

/* PROJECTS SECTION */

.sub-projects-heading {
  margin: 2rem 0;
}

#projects {
  margin-top: 3rem;
  margin-bottom: 8rem;
  color: var(--clr-font);
}
#projects h1 {
  margin: 1rem 0;
  font-size: 2.4rem;
  font-weight: normal;
  background-color: var(--clr-sec);
  font-family: 'Poppins';
  padding: 0.3rem;
  border-radius: 7px;
  box-shadow: var(--box-shadow);
}

.card {
  background-color: var(--clr-sec);
  box-shadow: var(--box-shadow);
}
.card-body {
  padding: 1rem;
}
.card-body h2 {
  font-size: 1.6rem;
}

.special {
  line-height: 1.25;
  margin: 0.1rem 0;
}

.cards {
  overflow: hidden;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
}

.tags {
  display: flex;
  margin: 0.5rem 0;
}

.initial-style {
  background-color: var(--clr-prim);
  padding: 0.2rem;
  margin-right: 0.7rem;
  margin-top: 0.4rem;
  border-radius: 5px;
  line-height: 1.3;
  font-size: 13px;
}

.js {
  background-color: #f7df1e;
  color: black;
}

.css {
  background-color: #2965f1;
  color: #fff;
}
.html {
  background-color: #f53900;
  color: #fff;
}
.react {
  background-color: #222222;
  color: #61daf6;
}
.bt {
  background-color: #7952b3;
  color: #fff;
}
.gjs {
  background-color: #7026b9;
  color: #fff;
}

.firebase {
  background-color: #ffca28;
  color: black;
}

.redux {
  background-color: #764abc;
  color: #fff;
}

.strapi {
  background-color: #1e1d80;
  color: #fff;
}

/* CONTACT ME */

#contact {
  margin-bottom: -10rem;
  position: relative;
  z-index: 1;
}

.contact-content h1 {
  color: var(--clr-font);
  font-size: 3rem;
  font-weight: normal;
}
.contact-content p {
  color: var(--clr-font);
}

.form {
  width: 95%;
  background-color: var(--clr-sec);
  padding: 1rem;
  z-index: 1;
  position: relative;
  border-radius: 7px;
}

#contact::before,
#contact::after {
  content: '';
  position: absolute;
  height: 110px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #892cdc;
  transform: skewY(-2.8deg);
  -webkit-transform: skewY(-2.8deg);
  -moz-transform: skewY(-2.8deg);
  -ms-transform: skewY(-2.8deg);
}

#name {
  width: 100%;
  height: 35px;
  margin: 0.5rem 0;
  border: none;
  outline: none;
  border: 1px solid var(--clr-font);
  font-size: 1.1rem;
  background-color: transparent;
  color: var(--clr-font);
  padding: 0.5rem;
}
#email {
  width: 100%;
  height: 35px;
  margin: 0.5rem 0;
  border: 0.1px solid var(--clr-font);
  outline: none;
  font-size: 1.1rem;
  background-color: transparent;
  color: var(--clr-font);
  padding: 0.5rem;
}

::placeholder {
  font-size: 0.9rem;
  color: var(--clr-font);
}

#message {
  width: 100%;
  background-color: transparent;
  height: 200px;
  border: 1px solid var(--clr-font);
  color: var(--clr-font);
  padding: 0.5rem;
  font-size: 1.2rem;
}
.btn-block {
  width: 100%;
  background-color: #892cdc;
  font-size: 1.3rem;
}

/* THANKS */
#thanks {
  color: var(--clr-font);
  text-align: center;
  margin: 4rem 0;
}

#thanks h1 {
  font-size: 2rem;
}

#thanks p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

#thanks .btn {
  margin: 0.6rem 0;
  background-color: #892cdc;
  padding: 0.4rem 2rem;
}

/* FOOTER */
footer {
  margin-top: 12rem;
  height: 17.7vh;
  background-color: #892cdc;
}

.logo {
  position: relative;
  z-index: 1;
  align-self: flex-start;
}

.footer-grid img {
  width: 160%;
}

.social svg {
  font-size: 1.5rem;
  margin: 0.8rem;
  color: #fff;
  cursor: pointer;
}

.ham {
  display: none;
}

#logo2 {
  display: none;
}

.mail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail svg {
  font-size: 1.5rem;
}

.mail p {
  color: #fff;
  font-family: 'Poppins';
}

@media (max-width: 600px) {
  .container {
    padding: 0 40px;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .switch-btn {
    top: 1.5rem;
    right: 1rem;
    padding: 0.65rem;
    width: 3rem;
    height: 1.45rem;
  }

  .hero {
    height: 140vh;
  }
  .hero img {
    align-self: flex-start;
    width: 95%;
  }

  .hero-contents {
    text-align: center;
    justify-self: center;
  }
  .hero-contents h2 {
    font-size: 1.5rem;
  }
  .hero-contents h1 {
    font-size: 1.5rem;
  }
  nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-items li {
    padding: 0.5rem 1.5rem;
    font-size: 0.95rem;
  }
  .nav-items {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .hero-section .logo {
    width: 45px;
    margin-left: 1rem;
  }
  #projects {
    margin-bottom: 3rem;
  }
  .contact-content h1 {
    color: var(--clr-font);
    font-size: 2rem;
    font-weight: normal;
  }

  .about-me {
    margin: 4rem 0;
  }

  .about-me h1 {
    font-size: 2.1rem;
  }

  .ham {
    display: block;
    cursor: pointer;
    position: absolute;
    color: var(--clr-font);
    top: 1rem;
    right: 1.5rem;
  }
  .social svg {
    color: var(--clr-font);
  }
  .mail p {
    color: var(--clr-font);
    font-family: 'Poppins';
  }
  footer {
    height: 15vh;
  }
  .soc-links {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .hero-contents h2 {
    font-size: 1.4rem;
  }
  .hero-contents h1 {
    font-size: 1.3rem;
  }
  .mail p {
    font-size: 0.9rem;
  }
}

@media (max-width: 310px) {
  .hero {
    height: 160vh;
  }
}
